<!-- *** Tiles-Downloader-Config *** -->
<div class="tiles-downloader-config-container">
  <form>

    <!-- Download Server -->
    <div class="setting-section setting-section-server">
      <mat-form-field class="form-field">
        <mat-select placeholder="{{ _strings._SelectServer_ }}" [(value)]="_selectedServer">
          <mat-option *ngFor="let server of _serversList" [value]="server">
            {{ server.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      
      <!-- Map Preview -->
      <app-map-preview [mapServer]="_selectedServer.url"></app-map-preview>
    </div>

    <!-- Zoom Level -->
    <div class="setting-section">
      <mat-form-field class="form-field">
        <input type="number" matInput placeholder="{{ _strings._ZoomLevel_ }}" min="_MIN_ZOOM" max="_MAX_ZOOM" name="zoomLevel" [(ngModel)]="_zoomLevel"/>
      </mat-form-field>
    </div>
    
    <!-- * Bounding Box * -->
    <div class="setting-section">
      <mat-radio-group [(ngModel)]="_downloadType" name="downloadType">
        <mat-radio-button color="primary" value="latlng">
          {{ _strings._BoundingBox_ }}:
        </mat-radio-button>
      </mat-radio-group>
      <table class="table">
        <!-- North -->
        <tr>     
          <td colspan="2" class="table-cell">
            <mat-form-field class="form-field">
              <input type="number" matInput placeholder="{{ _strings._North_ }}" min="_MIN_LAT" max="_MAX_LAT" name="north" [(ngModel)]="_north"/>
            </mat-form-field>
          </td>
        </tr>
        <!-- West/ East -->
        <tr>
          <td class="table-cell">
            <mat-form-field class="form-field">
              <input type="number" matInput placeholder="{{ _strings._West_ }}" min="_MIN_LNG" max="_MAX_LNG" name="west" [(ngModel)]="_west"/>
            </mat-form-field>
          </td>
          <td class="table-cell">
            <mat-form-field class="form-field">
              <input type="number" matInput placeholder="{{ _strings._East_ }}" min="_MIN_LNG" max="_MAX_LNG" name="east" [(ngModel)]="_east"/>
            </mat-form-field>
          </td>
        </tr>
        <!-- South -->
        <tr>     
          <td colspan="2" class="table-cell">
            <mat-form-field class="form-field">
              <input type="number" matInput placeholder="{{ _strings._South_ }}" min="_MIN_LAT" max="_MAX_LAT" name="south" [(ngModel)]="_south"/>
            </mat-form-field>
          </td>
        </tr>
      </table>
      <div>
        {{ _strings._BoundingBoxText_ }}
        <a href="https://www.openstreetmap.org/export#" target="_blank" class="link">
          {{ _strings._BoundingBoxLink_ }}</a>.
      </div>
    </div>

    <!-- * X/Y Range * -->
    <div class="setting-section">
      <mat-radio-group [(ngModel)]="_downloadType" name="downloadType">
        <mat-radio-button color="primary" value="xy">
          {{ _strings._XYTilesRange_ }}:
        </mat-radio-button>
      </mat-radio-group>
      <table class="table">
        <!-- Y Start -->
        <tr>     
          <td colspan="2" class="table-cell">
            <mat-form-field class="form-field">
              <input type="number" matInput placeholder="{{ _strings._YStart_ }}" min="0" name="yStart" [(ngModel)]="_yStart"/>
            </mat-form-field>
          </td>
        </tr>
        <!-- X Start/ X Start -->
        <tr>
          <td class="table-cell">
            <mat-form-field class="form-field">
              <input type="number" matInput placeholder="{{ _strings._XStart_ }}" min="0" name="xStart" [(ngModel)]="_xStart"/>
            </mat-form-field>
          </td>
          <td class="table-cell">
            <mat-form-field class="form-field">
              <input type="number" matInput placeholder="{{ _strings._XEnd_ }}" min="0" name="xEnd" [(ngModel)]="_xEnd"/>
            </mat-form-field>
          </td>
        </tr>
        <!-- Y End -->
        <tr>     
          <td colspan="2" class="table-cell">
            <mat-form-field class="form-field">
              <input type="number" matInput placeholder="{{ _strings._YEnd_ }}" min="0" name="yEnd" [(ngModel)]="_yEnd"/>
            </mat-form-field>
          </td>
        </tr>
      </table>
    </div>

    <!-- * Buttons * -->
    <div class="setting-section setting-section-buttons">
      <button mat-raised-button color="accent" (click)="abort()">
        {{ _strings._Abort_ }}
      </button>
      <button mat-raised-button color="accent" (click)="analyze()">
        {{ _strings._Analyze_ }}
      </button>
      <button mat-raised-button color="primary" (click)="download()">
        {{ _strings._Download_ }}
      </button>
    </div>

  </form>
</div>