<!-- *** Header *** -->
<div class="app-header-container">  

  <h1 class="header-title">
    {{ strings._HeaderTitle_ }}
  </h1>

  <div class="header-text">
    {{ strings._HeaderText_1_ }}
    <a href="https://wiki.openstreetmap.org/wiki/Tile_usage_policy" target="_blank" class="link">
      {{ strings._HeaderTextLink_1_ }}</a>.
    <br>
    
    {{ strings._HeaderText_2a_ }}<span class="bold">{{ strings._HeaderText_2b_ }}</span>{{ strings._HeaderText_2c_ }}
    <a href="https://wiki.openstreetmap.org/wiki/System_Administrators" target="_blank" class="link"> 
      {{ strings._HeaderTextLink_2_ }}</a>.
  </div>
</div>