/* ******************************************************* */
/* Main App Page */
body
{
  margin: 0;
  direction: ltr;
}

.app-container
{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0px 25px;
  background-color: #313131;
  color: #42b5fa;  
  white-space: nowrap;
}

/* ******************************************************* */
/* Header */
.header-title
{
  margin: 10px 0;  
}

.header-text
{
  font-size: 22px;
}

/* ******************************************************* */
/* App Box (left/right container) */
.app-box
{
  position: absolute;
  display: inline-block;
  width: calc(50% - 45px);
  top: 120px;
  bottom: 10px;
  padding: 5px 5px;
  border: 3px solid #42b5fa;
  vertical-align: top;  
  overflow-y: auto;
  font-size: 20px;
}

.box-left
{
  left: 25px;
}

.box-right
{
  right: 25px;
}

/* ******************************************************* */
/* Generic */
.link
{
  color: #ff0000;
}

.bold
{
  font-weight: bold;
}

.setting-section
{  
  position: relative;
  min-width: 615px;
  border: 3px solid #42b5fa;
  margin-bottom: 5px;
  padding: 5px 5px;
}

/* ******************************************************* */
/* Left Section */
.tile-preview
{
  position: absolute;
  top: 4px;
  right: 4px;
}

.tile-preview-img
{
  display: inline-block;
  width: 170px;
  height: 170px; 
  border: 1px solid #42b5fa;
}

.table
{
  width: 100%;
  border-collapse: collapse;
  border: 3px solid #42b5fa;
}

.table-cell
{
  border: 3px solid #42b5fa;
  text-align: center;
  padding-bottom: 5px;
}

.table-textbox
{
  width: 150px;
  text-align: center;
}

.bounding-box-text
{
  padding-top: 5px;
}

.setting-section-server
{
  height: 170px;
}

.setting-section-buttons
{
  text-align: right;
  margin-bottom: 0;
}

/* ******************************************************* */