$color-black: rgb(49, 49, 49);

$color-error: rgb(255, 0 ,0);
$color-warn:  rgb(255, 255, 0);
$color-valid: rgb(0, 255, 0);
$color-info:  rgb(66, 165, 245);

$color-background:  $color-black;
$color-text:        $color-info;
$color-link:        $color-error; 