@import './../../style/colors.scss';

.application-container
{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0 25px;
  background-color: $color-background;
  color: $color-text;

  .header-container
  {
  }

  .body-container
  {
    width: 100%;
    white-space: nowrap;

    .page-section
    {
      position: absolute;
      display: inline-block;
      width: calc(50% - 45px);
      top: 120px;
      bottom: 10px;
      padding: 5px 5px;
      border: 3px solid $color-text;
      vertical-align: top;
      overflow-y: auto;
      font-size: 18px;
    }  

    .section-left
    {
      left: 25px;
    }
  
    .section-right
    {
      right: 25px;
    }
  }
}